
	*{
		margin:0;
		text-align: center;
	}	
	a{
		text-decoration: none;
		color:#454345;
	}
	#nav{
		width: 10.8rem;
		height: 210px;	
		background-color: #31b8c4;	
		font-size: 20px;
		color: white;
	}
	#footer{
		height: 55px;
		width:10.8rem;		
		position:fixed;
		bottom: 0px;
		border-top:1px solid #bbbbbb;
	}
	#content{
		width: 10.8rem;
		font-size: 22px;
	}
	.navbar{
		width: 2.16rem;
		height: 45px;
		float: left;
		font-size: 16px;
		color: black;
		padding-top:5px;
		display: block;
		text-decoration: none;

	}
	.navbar img{
		margin-bottom: 3px;
		width: 22px;
		height: 22px;
	}
	.navbar p
	{
		margin-top: -5px;
	}

   #footer a{
   		float: left;
		height: 55px;
	}
	.title{
		width: 10.8rem;
		height:50px;
		line-height: 50px;
		color: white;
		font-size: 25px;
	}
	.message{
		width: 21px;
		float: right;
		margin-right: 22px;
		margin-top: 16px;
	}
	.list{
		width: 19px;
		float: left;
		margin-left: 22px;
		margin-top: 16px;
	}
	.yonghu{
		font-size: 25px;
	}
	.jieshao{
		font-size: 16px;
	}
	.sepa{
		height: 47px;
		width: 10.8rem;
		line-height: 47px;
		text-decoration: none;
		display: block;
	}
	.right1{
		width: 10px;
		float: right;
		margin-right: 14px;
		margin-top: 12px;
	}
	.tupian{
		float: left;
		margin-left: 14px;
		margin-top: 12px;
		width: 22px;
	}
	.wenzi{
		float: left;
		margin-left: 10px;
     .pp{
     	color: #31b8c4;s
     }		
}