   body{
      text-align: center;
      margin: 0 auto;
      padding: 0;
      font-size: 0.48rem;
      background-image: url(../images/bg.jpg);
     background-size: cover;
     opacity:0.95;
    }

    #div1{
      background-color: white;
      width: 10.8rem;
      line-height: 1.5rem;
      height: 1.5rem;
      font-size: 0.6rem;
    }
    #zhong{
      height: 1.74rem;
      font-size: 40px;
    }
    #phone{
      width: 9.8rem;
      margin-left: 0.5rem;
      height: 1.4rem;

      background-color: white;  
    }
   .spe{
    margin-top: 20px;
    line-height: 1.4rem;
    margin-bottom:30px;
   }
    #phone input{
      display: inline-block;
      height: 1rem;
      width:70%;
      line-height: 1rem;
      font-size: 40px;
      border:0px;
      padding-left: 10px;
      
    }
    


    #phone1{
      width: 9.8rem;
      margin-left: 0.5rem;
      height: 1.4rem;
      background-color: white;  
      margin-top: 30px;
    }
   
    #phone1 input{
      display: inline-block;
      height: 1rem;
      width:70%;
      line-height: 1rem;
      font-size: 40px;
      border:0px;
      padding-left: 10px;

      
    }
     #value{
      width:6.84rem;
      height: 1.37rem;
      background-color: rgba(170,170,170,0.7);
      margin-top: 40px;
      font-size:50px;
      color: white;

    }

    .tel{
      padding-top: 30px;
      display: inline-block;
      margin-left: -40px;
    }
    .no{
      display: inline-block;
      color: rgb(172,172,172);
      margin-right: 74px;
    }
    #load{
      font-size: 30px;
      width: 152px;
      height: 72px;
      line-height: 60px;
      display: inline-block;
      background-color: rgba(224,224,225,0.1);
      border:1.5px solid rgb(222,61,150);
      color: rgb(222,61,150);
      margin-right: -450px;
      margin-top: 57px;
    }
    .zc a{
      text-decoration: none;
      color: rgb(1,121,255); 
     font-size:35px;
     margin-top:46px;
     color:rgb(153,153,153);
    }
    .title{
      font-size:1.1rem;
      font-weight: bold;
      display: block;
      height: 400px;
      line-height: 400px;
      width: 10.8rem;
      color: rgb(49, 184, 196);
    }
    .footer{
      width: 10.8rem;
      height: 130px;
      line-height: 130px;
      font-size: 0.5rem;
      background-color: rgba(170,170,170,0.4);
      position: fixed;
      bottom: 0;
      left: 0;
    }