.all{  
        	background-image: url(../images/bg.jpg);
        	background-size: 100%,100%;
        }

.content{
	     text-align:center;
}
        
.head{
	margin-top:4rem;
}
.main{
		     text-align:center;
		     background-color:white;
		     width:90%;
		     margin-left:5%;	     
}
.fn{
	font-size:0.5rem;
	margin-left:-5rem;;
}
#aaa{
	color:red;
  font-size:0.3rem;
}
#bbb{
	color:red;
  font-size:0.3rem;
}
#ccc{
	color:red;
  font-size:0.3rem;
}
.sub{
	text-align:center;
	margin-top:1.2rem;
}
#btn{
	width:3.5rem;
	height:1.3rem;
	text-align:center;
	font-size:0.7rem;
	background-color:#31b8c4;
	color:white;
}

.footer{
	background-color: gray;
	font-size:0.5rem;
	height:1.2rem;
	line-height:1.2rem;
	text-align:center;
  margin-top:0.8rem;
}
a{
	text-decoration: none;
	color:black;
}

	
